body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/background.jpg);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.menu-container {
    display: flex;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.active-menu-item {
    background-color: green;
    color: white;
}

.sub-menu-item {
    border: 5px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.active-sub-menu-item {
    background-color: chocolate;
}

/* STATUS BAR */

.status-bar {
    display: fixed;
    color: white;
}

/* END - STATUS BAR */

.bg-status {
    background-color: black;
    opacity: 0.2;
}