* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/background_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: "SCE-PS3 Rodin LATIN Regular";
}

.menu-container {
    position: relative;
    left: 30%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 600px;
    transition: transform 0.2s ease-in;
}

.sub-menu-item-container {
    position: absolute;
    display: flex;
    display: none;
    left: 10%;
    top: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active-sub-menu-item-container {
    display: flex;
}

.menu-item-header {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-icon {
    width: 130px;
    height: 130px;
    opacity: 0.5;
    transition: transform 0.4s ease, opacity 0.3s ease;
    animation-play-state: paused;
}

.active-menu-item-icon {
    opacity: 1;
    transform: scale(1.2);
}

.menu-item-description {
    display: none;
}

.active-menu-item-description {
    display: block;
}

.sub-menu-item {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    width: 400px;
    height: 150px;
    margin: 5px;
    transition: transform 150ms ease-in;
}

.sub-menu-item-icon {
    display: flex;
    width: 150px;
    height: 150px;
    transition: transform 0.4s ease;
}

.sub-menu-item-header {
    animation-play-state: paused;
}

.active-sub-menu-item-icon {
    transform: scale(1.2);
}

.sub-menu-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.active-sub-menu-item-header {
    animation: signal 2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* STATUS BAR */

.status-bar {
    display: fixed;
    color: white;
    padding: 0;
    margin: 0;
}

.bg-status {
    background-color: black;
    opacity: 0.4;
}

/* END - STATUS BAR */



@keyframes signal {
    0% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
    }

    25% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1);
    }

    75% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
    }
}
