body {
    font-family: "SCE-PS3 Rodin LATIN Regular";
    overflow: hidden;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    position: absolute;
}

.menu-container {
    position: relative;
    top: 15%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 600px;
    transition: transform 0.2s ease-in;
}

.sub-menu-item-container {
    position: absolute;
    display: flex;
    display: none;
    left: 10%;
    top: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item-header {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-icon {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    transition: transform 0.4s ease, opacity 0.3s ease;
    animation-play-state: paused;
}

.menu-item-description {
    display: none;
}

.sub-menu-item {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;    
    width: 400px;
    height: 120px;
    margin: 5px;
    transition: transform 150ms ease-in;
}

.sub-menu-item-icon {
    display: flex;
    width: 120px;
    height: 120px;
    opacity: 0.5;
    transition: transform 0.4s ease;
}

.sub-menu-item-header {
    animation-play-state: paused;
    opacity: 0.5;
    margin-left: 50px;
}

/* Active Menu Item */

.active-menu-item{} /* Just for mark active menu item*/

.active-menu-item .menu-item-icon {
    opacity: 1;
    transform: scale(1.2);
}

.active-menu-item .menu-item-description {
    display: block;
}

.active-menu-item .sub-menu-item-container {
    display: flex;
}
/* END - Active Menu Item*/

/* Active Sub Menu Item*/

.active-sub-menu-item{} /* Just for mark active sub menu item*/

.active-sub-menu-item .sub-menu-item-icon {
    opacity: 1;
    transform: scale(1.5);
}

.active-sub-menu-item .sub-menu-item-header{
    animation: signal 2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    opacity: 1;
}
/* END - Active Sub Menu Item*/

/* STATUS BAR */

.status-bar {
    display: none;
    position: fixed;
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
    z-index:1;
}

.bg-status {
    background-color: black;
    opacity: 0.4;
}

/* END - STATUS BAR */



@keyframes signal {
    0% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
    }

    25% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1);
    }

    75% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
    }
}